.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-position: center;
  background-repeat: no-repeat;
  align-items: initial;
  padding-bottom: 4%;
}

.project-one,
.project-two,
.project-three {
  margin-top: 4%;
}

.meme-park {
  background-image: url(../../images/MemePark.png);
  color: white;
  height: 172px;
  background-size: cover;
  background-position: center;
}

.campo {
  background-image: url(../../images/Campo.png);
  color: white;
  height: 172px;
  background-size: cover;
  background-position: center;
}

.heart2heart {
  background-image: url(../../images/Heart2Heart.png);
  color: white;
  height: 172px;
  background-size: cover;
  background-position: center;
}

.card-text {
  text-align: center;
}

.card-menu {
  color: white;
}

h5 {
  text-align: center;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.source-code-btn {
  padding-top: 1.5%;
}
