.cards {
  display: flex;
  justify-content: space-evenly;
  padding-top: 4%;
  flex-wrap: wrap;
  background-position: center;
  background-repeat: no-repeat;
  align-items: initial;
}

.meme-park {
  background-image: url(../../images/MemePark.png);
  color: white;
  height: 172px;
  background-size: cover;
  background-position: center;
}

.campo {
  background-image: url(../../images/Campo.png);
  color: white;
  height: 172px;
  background-size: cover;
  background-position: center;
}

.heart2heart {
  background-image: url(../../images/Heart2Heart.png);
  color: white;
  height: 172px;
  background-size: cover;
  background-position: center;
}

.card-text {
  text-align: center;
}

.card-menu {
  color: white;
}

h5 {
  text-align: center;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.source-code-btn {
  padding-top: 1.5%;
}

@media only screen and (min-width: 1200px) {
  .content--blog--container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards--items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards--item {
    margin-bottom: 2rem;
  }
}
