.contact {
  /* background-image: url("../../../images/img-1.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact > video {
  position: absolute;
  left: 50%;
  top: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  height: 100%;
}

.form {
  background-color: black;
  padding: 50px 100px 10px 10px;
}

.contact > hr {
  border: 5px solid red;
}

label {
  font-size: 20px;
  width: 100px;
  display: inline-block;
  color: white;
}

#email,
#full-name,
textarea {
  width: 450px;
}

.success-msg {
  color: green;
}

.error-msg {
  color: red;
}

.button {
  display: flex;
}
