.footer-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-subscription {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 24px;
}

.footer-subscription-heading {
  font-size: 25px;
}

.footer-subscription-text {
  font-size: 20px;
}

.footer-input {
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 20px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.footer-link-wrapper {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-link-items > h4 {
  color: gray;
}

.footer-link-items > a {
  color: gray;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-link-items > a:hover,
.social-icon-link:hover,
.social-logo:hover,
.website-rights:hover,
.footer-link-items:hover > h4 {
  color: white;
  transition: 0.3s ease-out;
}

.footer-input::placeholder {
  color: gray;
}

.social-icon-link {
  color: gray;
  font-size: 25px;
}

.social-media-wrap {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
  width: 100%;
}

.social-logo {
  display: flex;
  color: gray;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.website-rights {
  color: gray;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  width: 240px;
}

@media screen and (max-width: 960px) {
  .footer-subscription-heading {
    font-size: 20px;
  }

  .footer-subscription-text {
    font-size: 15px;
  }

  .social-logo,
  .website-rights,
  .social-icons {
    padding: 10px;
  }

  .footer-input {
    width: 100%;
  }

  .btn-style {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}
